* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 18px;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 45px 60px 70px 60px;
    min-width: 50%;
    background: #FFFFFF1A;
    backdrop-filter: blur(25px);
    border-radius: 30px;
}

.login-form h1 {
    font-size: 45px;
    margin-bottom: 30px;
}

.login-form a {
    text-decoration: none;
}

.login-form a:hover {
    color: #1334D0;
}

.form-input-material {
    margin-bottom: 16px;
}

.form-input-material label {
    font-size: 16px;
}

.form-input-material input, button {
    width: 100%;
    border-radius: 10px;
    padding: 19px 16px;
    margin-top: 8px;
}

.login-form input {
    border-radius: 10px;
    padding: 19px 16px;
    color: black;
    background-color: #F4F5F6;
}

.line {
    font-variant-caps: all-petite-caps;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
}
 
.line::before, .line::after {
    content: "";
    display: block;
    height: 0.5px;
    background-color: #fff;
}

button {
    font-variant-caps: all-petite-caps;
    margin: 25px 0px;
    cursor:pointer;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid black;
}

#login-btn {
    color: #1334D0;
}

#sign-up-btn {
    width:100%;
    color: #F4F5F6;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #F4F5F6;
}

#sign-up-btn:hover {
    color: #1334D0;
    background-color: #F4F5F6;
    border-color: black;
    transition: 0.3s;
}

.background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-video {
        width: auto;
        height: 100%;
    }
}